@font-face {
  font-family: 'Open Sans';
  src: url('./components/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}



ul{
  list-style-type: none ;
  display: flex;
  flex-direction: row;
}

li{
  text-align: center;
  flex-basis: 100%;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  transition: background-color 0.3s ease;
  margin-left: 2%;
  font-weight: 500;
}


.present,.event, .eventp ,.login, .places, li:hover {
  position: relative;
  background-color: rgb(255, 207, 102);
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

#logohei{
  width: 4.2vw;
  height: 6vh;
  padding-top: 0.6vh;
  margin-right: 1%;
}

.nav{
  display: flex ;
  flex-direction: row;
  width: 100%;
  padding-top: 1.7vh;
  padding-bottom: 1.7vh;
  background-color: whitesmoke;
}

.navLogo{
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  margin-left: 5%;
  margin-top: -1vh;
}

.navLinks {
  flex-grow: 1;
  margin-right: 10vw;  
}


.modal_{
  display: none;
}
 .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlay{
  background-color: rgb(199, 199, 199);
  filter: blur(40px);
  opacity: 0.5;
}
.modal-content{
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 25%;
  background-color: white;
  border-radius: 10px;
  padding: 7vh 10vh;
}

#closeIcon{
  width: 40px;
  height: 40px;
  position: relative;
  top: -60px;
  left: 630px;
}

#closeIcon :hover{
  cursor: pointer;
  border-radius: 20px;
 
  background-color: gainsboro;
  transition: all 0.3s ease;
}
.pictures{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 5vh auto;
}

video{
  padding: 0 auto;
  margin-right: 5vw ;
  border-radius: 10px;
  width: 100%;
}

#pic{
  width: 35vw;
  height: 51.7vh;
  border-radius: 10px;
}

.video{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#take{
  font-size: 20px;
  color: red;
  border-radius: 10%;
  border: solid 2px red;
  margin: 5vh auto;
  padding: 2vh;
  border: none;
  cursor: pointer;
}
#take:hover{
  background-color: rgb(255, 160, 160);
  transition: background-color 0.4s ease;
}

.login{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 40%;
  height: 50vh;
  margin: auto;
  margin-top: 5%;
 }

.mb-3{
  width: 63%;
  height: 5vh;
  margin: auto;
  margin-top: 5vh;
}

.contain{
  border-radius: 1vh;
  margin: 12vh auto;
  width: 90vw;
}

.event_contain{
  border-radius: 10px;
  width: 100%;
  padding: 5vh 4vh;
  font-size: 1vw;
  box-shadow: 9px 10px 50px 5px rgb(233, 233, 233);
}

thead{
  margin-top: 5vh;
  font-size: 1.3vw;
  height: 10vh;;
  padding-bottom: 20vh;
}
th{
  flex-basis: 100%;
  text-align: center;
}

td{
  flex-direction: column;
  text-align: center;
  height: 10vh;
  flex-wrap: wrap;
  width: 10vw;
}
tr:hover{
  background-color: rgb(235, 232, 232);
  transition: background-color 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}

.event_table{
  margin: auto;
  width: 100%;
}




@media screen and (max-width: 1000px ) {
  .nav img{
    display: none;
  }
  .navLinks{
    margin-right: 20px;
  }
  .nav h3{
    padding-top: 10px;
  }
  .pictures{
    flex-direction: column;
  }
  .pic{
    width: 250px;
    height: 50px;
  }
}